<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
		<meta charset="UTF-8" />
        <!-- mobile friendly -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Tina's candidature</title>
		
		<!-- js -->
		<!-- cdn -->
		<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
		<!-- local -->
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>

        <script>
            SC.initialize({
                client_id: "3c5475d258553fb74bca0144c6729f9c",
            });
                   
            $(document).ready(function(){
                $("#search-term").keydown(function(event){
                    if(event.keyCode == 13){
                        $("#search-btn").trigger('click');
                    }
                });
                
                $("#loadTracks").on("click", function(){
                    SC.get("/tracks", {limit: 1}, function(tracks){
                        var track = tracks[0];
                        SC.oEmbed(track.uri, document.getElementById("track"));
                    });
                });
            });
        </script>

		<!-- fonts -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' >


		<!-- css -->
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	
    </head>
    <body>
        <div id="container" class="container" ng-controller="CandidatureController as candidatureCtrl">
            <header>
                <h1>Hallo <input id="hr-manager-name" type="text" ng-model="candidatureCtrl.visitor" placeholder="hiring manager">!</h1>
            </header>
            
            <div class="introduction">
                <p>
                I haven't had time to finish any side projects yet except <a href="http://tinatran.net" target="_blank">my personal website</a>. But as indicated in <a href="assets/ResumeTinaTRAN.pdf" target="_blank">my resume</a> or in my <a href="http://www.linkedin.com/pub/thi-nha-uyen-tina-tran/55/20/a03" target="_blank"><i
						class="fa fa-linkedin" target="_blank"></i> profile</a>, the most recent project I worked on the development was the Android banking application of Crédit Mutuel and CIC banks and it was also the most challenging project for the following reasons:
                <ul>
                    <li>These applications were developed, at that time, with the SDK for <i class="fa fa-android"></i> 4.1 (Jelly Bean) which was a huge change regarding the old version of these applications and required a rewritten from scratch.</li>
                    <li>An in-house framework was created at the same time for the current development and the future ones.</li>
                    <li>The deadline was short.</li>
                </ul>
                I needed to learn and improve my understanding of design patterns in Java in order to participate to build the framework mentioned above. Plus, I had to improve my Android expertise quickly to implement new features with the more complex new SDK. My approach was hard-working and focusing on what needed to be done.
                </p>
                <p>
                Besides, this candidature app is a challenge as well. I'm on an on-going self training for different cutting-edge Javascript frameworks such as Backbone, Node and Ember but I haven't attacked Angular yet. I decided then to learn and create this Angular app in 3 days for my application.</p>
            </div>
        
            <section class="soundcloud-search-app">       
                <div class="intro-app">
                    <img src="img/workplayhard.png" class="intro-app-image"/>
                    <h2>I love music ♫♪. You too? <br> Great, let's check if we have the same taste and let's have some fun.</h2>
                </div>
                
                <div class="row setting-app">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="search-term" class="form-control" type="text" ng-model="candidatureCtrl.searchTerm" placeholder="something rock">
                            <span class="input-group-btn">
                                <button  id="search-btn" class="btn btn-default" type="button" ng-click="candidatureCtrl.doSearch()"><i class="fa fa-search"></i> Search</button>
                            </span>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-2">
                        <input id="title-filter-term" type="text" class="form-control" ng-model="searchTerm.title" placeholder="filter by title"/>
                    </div>
                    
                    <div class="col-lg-2">
                        <input id="genre-filter-term" type="text" class="form-control" ng-model="searchTerm.genre" placeholder="filter by genre"/>
                    </div>
                    
                    <div class="col-lg-2">
                        <input id="user-filter-term" type="text" class="form-control" ng-model="searchTerm.user.username" placeholder="filter by user"/>
                    </div>
                    
                </div>
                
                <table class="table table-striped table-hover">
                    <tr>
                        <th></th>
                        <th><a href="" ng-click="sortBy='title'; reverse=!reverse;">Title</a></th>
                        <th><a href="" ng-click="sortBy='genre'; reverse=!reverse;">Genre</a></th> 
                        <th><a href="" ng-click="sortBy='user.username'; reverse=!reverse;">User</a></th>
                        <th><a href="" ng-click="sortBy='duration'; reverse=!reverse;">Duration</a></th>
                        <th></th>
                        <th></th>
            
                    </tr>
                    <tr ng-repeat="track in candidatureCtrl.tracks | orderBy:sortBy:reverse | filter:searchTerm">
                        <td><img src="{{track.artwork_url | modifycoversize}}"></td>
                        <td><a href="{{track.permalink_url}}" title="listen to this sound on Soundcloud" target="_blank">{{track.title}}</a></td>
                        <td>{{track.genre}}</td>
                        <td>{{track.user.username}}</td>
                        <td>{{track.duration | date:'mm:ss'}}</td>
                        <td>
                            <button class="btn btn-primary" type="button" ng-disabled="candidatureCtrl.currentStreamedTrack != 0" ng-click="candidatureCtrl.playSound(track)"><i class="fa fa-play"></i></button></td>
                        <td><button class="btn btn-primary" type="button" ng-disabled="candidatureCtrl.currentStreamedTrack != track.id" id="stop-btn-track{{track.id}}" ng-click="candidatureCtrl.currentStreamedTrack = 0"><i class="fa fa-stop"></i></button></td>  
                        
                    </tr>
                    
                </table>
                
                
                <p>My <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Ftr-n-tina&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe> here, check it out!</p>
                <p class="trivial-fact">Programmer: n.[proh-gram-er] an organic that turns <i class="fa fa-coffee"></i>, pizza and <i class="fa fa-beer"></i> into app.</p>
            </section>

            <footer id="footer">
						<p>
                Thank you for dropping me an <a href="mailto:thi.nha.uyen@gmail.com?subject=I-love-cats-too!"><i class="fa fa-envelope"></i></a><span class="hr-manager-name">{{candidatureCtrl.userName()}}</span>.<br> Your feedback surely will help me get small improvements done but <strong>HIRE ME</strong> is even better to get your "return on investment" :)<br> 
                    
            </footer>
        </div>
    </body>

</html>

